<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <title>
  {% block title %}
  {% endblock title %}
    </title>
</head>
<style>
a{
  margin-right: 12px;
}
a:hover{
  transform: scale(1.1);
  transition: .3s linear;
}
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a style="font-size: 35px; color:white;" class="navbar-brand" href="/">DayCare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a style="font-size: 20px; color:white;" class="nav-link" href="/">Plans</a>   
        <a style="font-size: 20px; color:white;" class="nav-link" href="/contact">Contact Us</a>
        <a style="font-size: 20px; color:white;" class="nav-link" href="/register">Register</a>
        <a style="font-size: 20px; color:white;" class="nav-link" href="/login" >Log in</a>
      </div>
    </div>
  </div>
</nav>


{% block body %}
{% endblock body %}
  

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
</body>


</html>